<!DOCTYPE html>
<html>

<head>
	<title>Projet Sport By Arthur et Mohammed</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Fettle a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{{ absolute_url(asset('assets/css/bootstrap.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/style.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/contact.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/font-awesome.css')) }}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
     
</script>
    
</head>

<body>
<div class="top-bar_sub_w3ls_agileits">
        <h6>
           Projet Sportif
        </h6>
        <div class="search">
            <h5>
                <a class="sign" href="#" data-toggle="modal" data-target="#myModal2">Se connecter</a>
            </h5>
            <div class="cd-main-header_w3layouts_agile">
                <ul class="cd-header_w3layouts_agile-buttons">
                    <li>
                        <a class="cd-search-trigger" href="#cd-search">
                            <span></span>
                        </a>
                    </li>
                </ul>
                <!-- cd-header_w3layouts_agile-buttons -->
            </div>
            <div id="cd-search" class="cd-search">
                <form action="#" method="post">
                    <input name="Search" type="search" placeholder="Click enter after typing...">
                </form>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>


	<div class="header_w3layouts_agile-main inner_banner">
    
		<header class="header" id="home">
			<!--/top-bar-->
            
			<div class="top-bar">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                        
						<h1>
							<a class="navbar-brand" href="{{path('index')}}">Projet Sport
								<span>Un évenement sportif à porter de main</span>
							</a>
						</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li>
									<a href="{{path('index')}}">Accueil</a>
								</li>
								<li>
									<a href="about.html">Nous connaitre</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Evenements
										<span class="fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu">
										
										<li>
											<a href="{{path('join_event')}}">Chercher un evenement</a>
										</li>
										
									</ul>
									</ul>
								</li>
								
								
							</ul>
						</nav>
					</div>
				</nav>
			</div>
			<!--//top-bar-->
		</header>
	</div>
	<!--//inner_banner-->
	<!--/short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li>
					<a href="{{path('index')}}">Home</a>
					<span>|</span>
				</li>

                <li>
					<a href="{{path('join_event')}}">Chercher evenements</a>
					<span>|</span>
				</li>
                <li> 
                Creer evenements
                </li>
			</ul>
		</div>
	</div>
	<!--//short-->
	<!-- //inner_content -->

	<!-- Modal1 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign In</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="email" name="email" placeholder="E-mail" required="">
									<input type="password" name="password" placeholder="Password" required="">
									<div class="tp">
										<input type="submit" value="Sign In">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-rss"></i>
										</a>
									</li>
								</ul>
							</div>
							<p>
								<a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- Modal2 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<div class="signin-form profile">

						<div class="login-m_page_img">

							<img src="images/model.jpg" alt=" " class="img-responsive" />

						</div>
						<div class="login-m_page">
							<h3 class="sign">Sign Up</h3>
							<div class="login-form">
								<form action="#" method="post">
									<input type="text" name="name" placeholder="Username" required="">
									<input type="email" name="email" placeholder="Email" required="">
									<input type="password" name="password" placeholder="Password" id="password1" required="">
									<input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
									<input type="submit" value="Sign Up">
								</form>
							</div>
							<p>
								<a href="#"> By clicking Sign up, I agree to your terms</a>
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="banner_bottom">

<div class="tittle_head">
				<h3 class="header_w3layouts_agile">Creez votre evenement</h3>
			</div>

            <form class="col-sm-12" id="searchForm">
            <div class="form-group col-sm-4 col-sm-offset-4 nospace">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="search_city" id="autocomplete" placeholder="Enter your address"  onFocus="geolocate();" required>
                    <span class="input-group-btn"><button class="btn btn-danger" value="Localiser sur Google Map" onclick="TrouverAdresse();" type="submit" style="padding: 11px text-center" id="btn-search-city">Rechercher</button></span>
                </div>
            </div>
        </form>
        <span id="text_latlng"></span>
<div id="map-canvas" style="float:right;height:220px;width:100%"></div>


    <script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
   

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */
            (document.getElementById('autocomplete')), {
                types: ['geocode']
            });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>


	</div>
	<!--//contact-->
	<!--/footer-->
	<div class="contact-footer">

		<div class="bottom-social">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agile">
					<ul class="f_links col-md-4">
						<li>
							<a href="{{path('index')}}">Accueil</a>
						</li>
						<li>
							<a href="about.html">Nous connaitre</a>
						</li>
						<li>
							<a href="services.html">Créez votre évement</a>
						</li>
						<li>
							<a href="gallery.html">Chercher un évenement</a>
						</li>
						<li>
							<a href="{{path('contact')}}">Contact</a>
						</li>
						<li>
							<a href="404.html">Evenements</a>
						</li>
						
					</ul>
					
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons">
					<h6> Connectez vous avec </h6>
					<a class="facebook" href="https://www.facebook.com/">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="https://twitter.com/">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="https://www.pinterest.fr/">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="https://www.linkedin.com/">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy">
			<h2 class="footer-logo">
				<a href="{{path('index')}}">Projet Sport
					<span>Un évenement sportif à porter de main</span>
				</a>
			</h2>
			<p>© 2018 Projet Sport. All rights reserved | Design by
				Mohammed et Arthur.</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/footer -->
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- /js files -->
	
	<link href='{{ absolute_url(asset('assets/css/aos.css')) }}' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='{{ absolute_url(asset('assets/js/aos.js')) }}'></script>
	<script src="{{ absolute_url(asset('assets/js/aosindex.js')) }}"></script>
	<!-- //js files -->
	<!--search-bar-->
	<script src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>
	<!--//search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/move-top.js')) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/easing.js')) }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

    <script type="text/javascript">
var geocoder;
var map;
// initialisation de la carte Google Map de départ
function initialiserCarte() {
  geocoder = new google.maps.Geocoder();
  // Ici j'ai mis la latitude et longitude du vieux Port de Marseille pour centrer la carte de départ
  var latlng = new google.maps.LatLng(48.7736641,1.979039);
  var mapOptions = {
    zoom      : 14,
    center    : latlng,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  }
  // map-canvas est le conteneur HTML de la carte Google Map
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}
 
function TrouverAdresse() {
  // Récupération de l'adresse tapée dans le formulaire
  var adresse = document.getElementById('autocomplete').value;
  geocoder.geocode( { 'autocomplete': adresse}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      // Récupération des coordonnées GPS du lieu tapé dans le formulaire
      var strposition = results[0].geometry.location+"";
      strposition=strposition.replace('(', '');
      strposition=strposition.replace(')', '');
      // Affichage des coordonnées dans le <span>
      document.getElementById('text_latlng').innerHTML='Coordonnées : '+strposition;
      // Création du marqueur du lieu (épingle)
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Adresse introuvable: ' + status);
    }
  });
}
// Lancement de la construction de la carte google map
google.maps.event.addDomListener(window, 'load', initialiserCarte);



</script>
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/bootstrap.js')) }}"></script>
	
    


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAesT3ZM1nNpbrZROrv0UmRKeICe_mkvGw"></script>

   
</body>

</html>


