    <!--what-we-do-->
    <div class="top_spl_courses">
        <div class="container">
            <h3 class="header_w3layouts_agile">Les evenements  disponible</h3>
            <div class="inner_sec_w3_agileinfo">
                <ul class="timeline">
                    <li class="one-tm">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ absolute_url(asset('assets/images/soccer-logo_2.jpeg')) }}" alt="">
                        </div>
                        <div class="timeline-panel" data-aos="fade-left">
                            <div class="timeline-heading">
                                <h4 class="subheading">Football</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ absolute_url(asset('assets/images/basketball.jpeg')) }}" alt="">
                        </div>
                        <div class="timeline-panel t-m" data-aos="fade-right">
                            <div class="timeline-heading">
                                <h4 class="subheading">Basketball</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ absolute_url(asset('assets/images/tennis-logo.jpeg')) }}" alt="">
                        </div>
                        <div class="timeline-panel" data-aos="fade-left">
                            <div class="timeline-heading">
                                <h4 class="subheading">Tennis</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ absolute_url(asset('assets/images/running-logo.jpeg')) }}" alt="">
                        </div>
                        <div class="timeline-panel t-m" data-aos="fade-right">
                            <div class="timeline-heading">
                                <h4 class="subheading">Running</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="timeline-image">
                        
                            <img class="img-circle img-responsive" src="{{ absolute_url(asset('assets/images/cycle.jpg')) }}" alt="">
                        </div>
                        <div class="timeline-panel" data-aos="fade-left">
                            <div class="timeline-heading">
                                <h4 class="subheading">Cyclisme</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>
                    </li>
                    <div classs="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--//timeline-->