<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Omnisport Project {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Fettle a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Latest compiled and minified CSS -->

    <link href="{{ absolute_url(asset('assets/css/bootstrap.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/css/style.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/css/font-awesome.css')) }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet"> {% block stylesheets %}{% endblock %}
</head>

<body>
    {% include "include/index.html.twig" %}
    {% include "include/connexion/signin.html.twig" %}
    {% include "include/connexion/signup.html.twig" %}
    {% include "include/elem1.html.twig" %}
    {% include "include/elem2.html.twig" %}
    {% include "include/elem3.html.twig"%}
    {% include "include/elem4.html.twig" %} 
    {% include "include/footer.html.twig" %} 
    {% block main %}{% endblock %}

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- //js -->
    <!-- password-script -->
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- /js files -->
    <link href="{{ absolute_url(asset('assets/css/aos.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('assets/css/aos-animation.css')) }}" rel="stylesheet">
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/aos.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/aosindex.js')) }}"></script>
    <!-- //js files -->
    <!--search-bar-->
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/responsiveslides.min.js')) }}"></script>
    <script>
        $(function() {
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!--//search-bar-->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/move-top.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/easing.js')) }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

    <script type="text/javascript">
        $(document).ready(function() {
            /*
            						var defaults = {
            				  			containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            				 		};
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script type="text/javascript" src="{{ absolute_url(asset('assets/js/bootstrap.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $("#register").submit(function(e) {
                e.preventDefault();
                let isVide = false;
                for (let i = 0; i < $("#register input").length; i++) {
                    if ($("#register input").eq(i).val().length < 1)
                        isVide = true;

                }
                if (!isVide) {
                    let data = $(this).serialize();
                    $.post("/register", data, function(data) {
                        $("#register").css("display", "none");
                        $("#message").html("<div class='text-center alert alert-success'>Vous êtes inscrit sur notre site !</div>");
                        setTimeout(function(){
                        $("#myModal3").css("display", "none");
                        $("#register").css("display", "block");
                    
                    }, 1200);
                    })
                } else
                    alert("input not value !!");

            })
        })
    </script>

</body>

</html>