<!DOCTYPE html>
<html>

<head>
	<title>Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Fettle a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="{{ absolute_url(asset('assets/css/bootstrap.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/style.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/contact.css')) }}" rel='stylesheet' type='text/css' />
	<link href="{{ absolute_url(asset('assets/css/font-awesome.css')) }}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>

<body>
<div class="top-bar_sub_w3ls_agileits">
						<h6>
							<a class="navbar-brand" href="{{path('index')}}">Projet Sport
							</a>
						</h6>
    <div class="search">
        <h5>
        {% if user == null %}
            <a class="sign" href="#" data-toggle="modal" data-target="#myModal2">User Login</a>
        {% else %}
            <a class="sign" href="/profile"  data-target="#myModal2">Hey {{ user.prenom }}</a>
            <a id="logout" href="/logout">Logout<i class="fas fa-power-off"></i></a>
        {% endif %}
        </h5>
        <div class="cd-main-header_w3layouts_agile">
            {# <ul class="cd-header_w3layouts_agile-buttons">
                <li>
                    <a class="cd-search-trigger" href="#cd-search">
                        <span></span>
                    </a>
                </li>
            </ul> #}
            <!-- cd-header_w3layouts_agile-buttons -->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
	<!--/top-bar-->
	<div class="header_w3layouts_agile-main inner_banner">
		<header class="header" id="home">
			<!--/top-bar-->
			<div class="top-bar">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li>
									<a href="index.html">Accueil</a>
								</li>
								<li>
									<a href="{{path('contact')}}">Contactez nous</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Evenements
										<span class="fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="{{ path('create_event')}}">Créez votre evenement</a>
										</li>
										<li>
											<a href="services.html">Chercher un evenement</a>
										</li>
										
									</ul>
								</li>
								
								
							</ul>
						</nav>
					</div>
				</nav>
			</div>
			<!--//top-bar-->
		</header>
	</div>
    
	<!--//inner_banner-->
<p id="confirm"></p>
<form method="post" action="" id="profile" class="col-4 offset-4 mx-auto  text-center">
  <div  class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control text-center" id="prenom" name="prenom" value="{{ user.prenom }}" placeholder="Enter pseudo">
  </div>
  <div  class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control text-center" id="nom" name="nom" value="{{ user.nom }}" placeholder="Enter pseudo">
  </div>
  <div class="form-group">
    <label for="inputTelephone">Téléphone</label>
    <input type="text" class="form-control text-center" id="phone" name="phone" value="{{ user.phone }}" placeholder="Votre numero">
  </div>
    <div class="form-group">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control text-center" id="ville" name="ville" value="{{ user.ville }}">
      <input type="hidden" class="form-control" id="id" name="id" value="{{ user.id }}">
    </div>
  <button type="submit" class="btn btn-dark col-md-12 ">Modifier</button>
</form>
	<!-- //inner_content -->
	<!--/footer-->
	<div class="contact-footer">
		<div class="bottom-social">
			<div class="container">
				<div class="col-md-8 botttom-nav-w3ls-agile">
					<ul class="f_links col-md-4">
						<li>
							<a href="{{path('index')}}">Accueil</a>
						</li>
						<li>
							<a href="about.html">Nous connaitre</a>
						</li>
						<li>
							<a href="services.html">Créez votre évement</a>
						</li>
						<li>
							<a href="gallery.html">Chercher un évenement</a>
						</li>
						<li>
							<a href="{{path('contact')}}">Contact</a>
						</li>
						<li>
							<a href="404.html">Evenements</a>
						</li>
						
					</ul>
					
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 social-icons">
					<h6> Connectez vous avec </h6>
					<a class="facebook" href="https://www.facebook.com/">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="https://twitter.com/">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="https://www.pinterest.fr/">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="https://www.linkedin.com/">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="copy">
			<h2 class="footer-logo">
				<a href="{{path('index')}}">Projet Sport
					<span>Un évenement sportif à porter de main</span>
				</a>
			</h2>
			<p>© 2018 Projet Sport. All rights reserved | Design by
				Mohammed et Arthur.</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/footer -->
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	
	<!-- //js -->
	<!-- password-script -->
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!-- /js files -->
	
	<link href='{{ absolute_url(asset('assets/css/aos.css')) }}' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='{{ absolute_url(asset('assets/js/aos.js')) }}'></script>
	<script src="{{ absolute_url(asset('assets/js/aosindex.js')) }}"></script>
	<!-- //js files -->
	<!--search-bar-->
	<script src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>
	<!--//search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/move-top.js')) }}"></script>
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/easing.js')) }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="{{ absolute_url(asset('assets/js/bootstrap.js')) }}"></script>
        <script>
        $(document).ready(function() {
            $("form").submit(function(e) {
                e.preventDefault();
                let isVide = false;
                for (let i = 0; i < $("#profile input").length; i++) {
                    if ($("#profile input").eq(i).val().length < 1)
                        isVide = true;

                }
                if (!isVide) {
                    let data = $(this).serialize();
                    $.post("/profile", data, function(data) {
                        $("#confirm").html("<div class='text-center alert alert-success'>Le profile à bien été modifier!<a href='{{path('index')}}'><br>retourner à l'accueil</a></div>");               
                    });
                } else
                    alert("input not value !!");

            })
        })
    </script>
	


</body>

</html>